body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 !important;
}
a {
  text-decoration: none;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  list-style: none;
  display: inline-block;
}

.container {
  display: flex;
  width: 70rem;
  height: inherit;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.section-header {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 48px;
  font-weight: 72px;
  margin-bottom: 2rem !important;
}

.top-section {
  background-image: url("./assets/banner\ bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.top-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  padding: 1rem;
  margin-bottom: 5rem;
}
.top-section .header p {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

.top-section .header .nav-links {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.top-section .header .nav-links p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}
.top-section .header .nav-links button {
  height: 65px;
  width: 141px;
  background: #fff;
  color: #3e86f5;
  font-size: 24px;
  font-weight: 500;
  border: none;
  display: block;
}

.top-section .header a {
  color: #fff;
}

.top-section .jumbotron {
  width: 820px;
}
.top-section .jumbotron h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
  color: #fff;
  text-align: center;
}
.top-section .jumbotron p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2.2rem !important;
}

.flight-data {
  margin-top: -8rem;
}

.flight-data .flight-data-1 {
  align-self: flex-start;
  height: 100px;
  width: 279px;
  background: #fff;
  margin-left: -3rem;
}

.flight-data .flight-data-1 .inner {
  display: flex;
  align-items: center;
  padding: 8px 1.5rem 0 8px;
  justify-content: space-between;
}

.flight-data .flight-data-1 .inner .flight {
  height: 66px;
  width: 121px;
  border-radius: 25px;
  background: rgba(62, 134, 245, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flight-data .flight-data-1 .inner .hotel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.flight-data .flight-data-1 .inner p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #000;
}

.flight-data .flight-data-2 {
  height: 274px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
}

.flight-data .flight-data-2 .departure {
  border: 2px solid rgba(172, 172, 172, 0.5);
  height: 154px;
  flex: 2;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}

.flight-data .flight-data-2 .departure .div1 p {
  color: #00000080;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.flight-data .flight-data-2 .departure .div1 p:nth-child(2) {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #000;
}

.flight-data .flight-data-2 .search {
  height: 154px;
  flex: 1;
  background: #3e86f5cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer {
  padding-top: 12rem;
}

.offer .offer-content h2 {
  text-align: center;
}

.offer .offer-tabs-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.offer .offer-tabs-div .offer-tab {
  height: 46px;
  width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00000080;
  background: none;
  cursor: pointer;
}

.offer .offer-tabs-div .offer-tab:hover {
  color: #3e86f5;
  background: #fff;
}

.offer .offer-tabs-div .offer-tab.active {
  color: #3e86f5;
  background: #fff;
}

.offer .offer-cards-div {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 2rem;
}

.offer-card {
  height: 293px;
  width: 280px;
  background: #fff;
  padding: 0.2rem;
}

.offer-card-top {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.offer-card-bottom {
  padding: 1.5rem;
}

.ofer-card-bottom h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.offer-card-bottom p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #00000080;
}

.travel {
  padding-top: 12rem;
}

.travel .travel-content {
  display: flex;
  gap: 8.5rem;
}

.travel .travel-content .img-div {
  position: relative;
  width: 45%;
  height: 800px;
  background: url("./assets/travel.png") no-repeat center center/cover;
}

.travel .travel-content .img-div .numbers-div {
  position: absolute;
  background: #fff;
  width: 174px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.travel .travel-content .img-div .numbers-div.top {
  top: 50px;
  right: -90px;
}
.travel .travel-content .img-div .numbers-div.middle {
  top: 340px;
  left: -90px;
}
.travel .travel-content .img-div .numbers-div.bottom {
  bottom: 150px;
  right: -90px;
}

.travel .travel-content .img-div .numbers-div h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #3e86f5;
}
.travel .travel-content .img-div .numbers-div p {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.travel .travel-content .text-div {
  padding-top: 6rem;
  width: 55%;
}
.travel .travel-content .text-div h2 {
  line-height: 72px;
  position: relative;
}
.travel .travel-content .text-div p {
  font-weight: 400;
  font-style: 20px;
  line-height: 40px;
  color: #00000080;
}

.travel button {
  height: 75px;
  width: 179px;
  border-radius: 0px;
  color: #fff;
  background: #3e86f5;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: none;
  margin-top: 2.2rem;
}

.destination {
  padding-top: 12rem;
}

.destination .destination-content h2 {
  text-align: center;
}

.destination .destination-tabs-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.destination .destination-tabs-div .destination-tab {
  height: 46px;
  width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00000080;
  background: none;
  cursor: pointer;
}

.destination .destination-tabs-div .destination-tab:hover {
  color: #3e86f5;
  background: #fff;
}

.destination .destination-tabs-div .destination-tab.active {
  color: #3e86f5;
  background: #fff;
}

.destination .destination-cards-div {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 2rem;
}

.destination-card {
  height: 293px;
  width: 280px;
  background: #fff;
  padding: 0.2rem;
}

.destination-card-top {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.destination-card-bottom {
  padding: 1.5rem;
}

.destination-card-bottom h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.destination-card-bottom p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #00000080;
}

.comments {
  padding-top: 12rem;
}

.comments .comments-content {
  display: flex;
  gap: 1rem;
}

.comments .comments-content .comment-card {
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  width: 580px;
  height: 410px;
}

.comments .comments-content .comment-card img {
  position: absolute;
  top: 40px;
  left: 250px;
}

.comments .comments-content .comment-card p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
}
.comments .comments-content .comment-card p.blue {
  color: #3e86f5;
}
.comments .comments-content .comment-card p.grey {
  color: #00000080;
}
.comments .comments-content .comment-card .avatar {
  background: #fff;
  position: absolute;
  height: 134px;
  width: 179.5px;
  left: 240px;
  top: 400px;
  border-radius: 50%;
}

.comments .comments-content .comment-card .avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -43%);
}

.discount {
  margin-top: 12rem;
  background: url("./assets/universe.png") no-repeat center center/cover;
  width: 100%;
  height: 500px;
}
.discount .discount-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.discount .discount-content h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: #fff;
  width: 743px;
  text-align: center;
}
.discount .discount-content button {
  height: 80px;
  width: 220px;
  background: #fff;
  color: #3e86f5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border: none;
  margin-top: 2rem;
}

.footer-content p {
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
  color: #00000080;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5rem 0 2rem 0;
}

.footer-content li {
  margin-left: 2rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #000000bf;
  cursor: pointer;
}
